.container_post{
    width: 70%;
    max-width: 70%;
    height: auto;
    outline: solid 1px rgb(128, 128, 128);
    border-radius: 5px;
    padding: 20px;
    margin-block: 20px;
    color: rgb(194, 194, 194);
}

.container_post_foto{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.foto_post{
    width: 40px;
    height: 40px;
    background-color: rgb(85, 85, 85);
    outline: black;
    border-radius: 50%;
    margin-right: 10px;
}

.container_post_conteudo{
    width: 100%;
    height: auto;
    margin-block: 20px;
    position: relative;
    z-index: 0;
}

.post_conteudo{
    width: 100%;
    height: auto;
    margin-block: 20px;
}

.button_post_voltar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 60%;
    border: none;
    background-color: transparent;
}

.button_post_proximo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    border: none;
    background-color: transparent;
}

.container_buttons_post{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.button_post{
    width: 30px;
    height: 25px;
    margin-right: 10px;
    border: none;
    outline: 1px solid rgb(156, 156, 156);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_indexes{
    position: absolute;
    display: flex;
    bottom: 15%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.index{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(50, 50, 50, 0.664);
    margin-inline: 2px;
}